name: todo_flutter
description: Cosecha Cafetera - Gesti칩n de fincas cafeteras.

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  cupertino_icons: ^1.0.2
  get: ^4.6.5
  supabase_flutter: ^2.5.2
  flutter_dotenv: ^5.1.0
  intl: ^0.20.2  # versi칩n m치s reciente compatible
  geolocator: ^12.0.0
  shared_preferences: ^2.2.2
  http: ^1.1.0
  google_generative_ai: ^0.4.7
  sqflite: ^2.3.0  # Base de datos local SQLite
  path: ^1.8.3  # Manejo de rutas de archivos
  connectivity_plus: ^5.0.2  # Detecci칩n de conectividad

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  assets:
    - .env
    - assets/images/
